{% extends "layout.html" %}
{% block content %}
<div class="hero-panel">

     <img width="120%"
          src="https://images.pexels.com/photos/3026802/pexels-photo-3026802.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="">

     <div class="call-to-action">
          <h1><b>Turn Simple Ingredients <br> Into Delicious Meals</b></h1>
          <p>Our knowledgeable search engine will generate a variety of options to choose from based on what ingredients
               you have lying around. </p>
          <button type="button" class="btn btn-outline-primary"><a href="#handling-form">Enter Ingredients</a></button>
     </div>
</div>

<div style="margin-top: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
     <h2>Enter Your Ingredients or upload a picture</h2>
     <form id="handling-form" action="#" method="post">
          <textarea style="width:600px; height: 200px; border-radius: 20px; padding: 20px;" type="text" id="user_query"
               name="user_query"></textarea>
          <input type="submit" value="submit">
     </form>

     <div class="recipe-cards">
          {% for recipe in recipes %}

          <div class="recipe-card">
               <img style="width: 100%; height: auto; max-width: 100%; border-radius: 20px;" src={{recipe.image}}
                    alt="">
               <h4><b>{{recipe.name}}</b></h4>
               <p>{{recipe.rate}} / 5 rating</p>
               <button type="button" class="btn btn-outline-warning"><a style="color: black;" target="_blank"
                         rel="noopener noreferrer" href="{{recipe.url}}">Learn More</a></button>
          </div>

          {% endfor %}
     </div>
</div>
{% endblock content %}